/* ==========================================================================
   #FONTS
   ========================================================================== */

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/GothamPro.woff2") format("woff2"),
    url("../fonts/GothamPro.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/GothamPro-Black.woff2") format("woff2"),
    url("../fonts/GothamPro-Black.woff") format("woff");
}
@font-face {
  font-family: "Acrom";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/Acrom-Medium.woff") format("woff");
}