/* ==========================================================================
   #HELPERS & UTILITIES
   ========================================================================== */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers
*/

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.text-bold {
  font-weight: bold !important;
}

.text-center {
  text-align: center !important;
}

.text-highlight {
  color: $text-warning !important;
}

.text-white {
  color: #fff !important;
}

.text-underline {
  text-decoration: underline;

  &::before,
  &::after {
    text-decoration: none;
  }
}

.text-line-through {
  position: relative;
  display: inline-block;

  &::after {
    content: '';
    position: absolute;
    top: 56%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 2px solid $bg-warning;
  }
}

.bg-primary {
  background-color: $bg-primary;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-warning {
  background-color: $bg-warning;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mb-8 {
  margin-bottom: 2rem;
}