/* ==========================================================================
   #S-REVIEWS
   ========================================================================== */

.s-reviews {
  display: none;
}

.reviews-slider {
  margin-top: 1.5rem;

  .slider-item__heading {
    margin-bottom: rem(28px);
    font-weight: normal;
  }
}